@import "variables";
@import "mixins";

.productName {
  font-family: "Source Sans Pro";
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-left: $m_xl;
  margin-top: $m_xxl;

  @include breakpoint(s-max) {
    margin-top: $m_xl;
    margin-left: $m_md;
    font-size: 3.3rem;
  }
}

.container {
  @include center();
  position: relative;

  @include breakpoint(m-max) {
    flex-direction: column-reverse;
  }

  .leftSlide,
  .rightSlide {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

    @include breakpoint(s-max) {
      bottom: $m_lg;
    }

    img {
      width: $icon_width;
    }
  }

  .leftSlide {
    left: -2.5rem;
    img {
      margin-left: 3rem;
    }
    @include breakpoint(s-max) {
      left: $m_md;
      @include center();
      img {
        margin: 0;
      }
    }
  }

  .rightSlide {
    right: -2.5rem;
    img {
      margin-left: 1rem;
    }
    @include breakpoint(s-max) {
      right: $m_md;
      @include center();
      img {
        margin: 0;
      }
    }
  }

  .details {
    width: 40%;
    margin: $m_lg 0;
    margin-left: $m_xl;
    @include breakpoint(s-max) {
      width: 100%;
      margin-left: $m_md;
    }

    .stores {
      margin: $m_lg 0;
      display: flex;

      .store {
        border: 1px solid rgba(0, 0, 0, 0.3);
        img {
          margin: 0 1.5rem;
          margin-top: $m_xxs;
        }
        .storeName {
          padding: 0.4rem 1.5rem;
          font-size: small;
          span {
            font-weight: 600;
          }
        }
      }
      .appStore {
        border-right: none;
      }
    }

    .descriptions {
      letter-spacing: 0.05rem;
      margin-bottom: $m_md;
    }

    .featureContainer {
      display: flex;

      @include breakpoint(s-max) {
        flex-direction: column;
        margin-bottom: $m_xxl;
      }

      .title {
        font-weight: 600;
        letter-spacing: 0.1rem;

        @include breakpoint(s-max) {
          margin-bottom: $m_sm;
        }
      }

      .seperator {
        width: 1px;
        align-self: stretch;
        background-color: rgba(0, 0, 0, 0.3);
        margin: 0 $m_md;
      }

      .features {
        div {
          letter-spacing: 0.05rem;
          margin-bottom: $m_sm;

          @include breakpoint(s-max) {
            margin-bottom: $m_xs;
          }
        }
        div:nth-of-type(4) {
          margin-bottom: 0;
        }
      }
    }
  }

  .product {
    width: 60%;

    @include breakpoint(s-max) {
      width: 100%;
      margin-top: $m_md;
    }

    .productContainer {
      width: 100%;
      aspect-ratio: 1/1;
      position: relative;
      .productBackground {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        aspect-ratio: 1/1;
        background-color: var(--product);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  }
}
