@import "variables";
@import "mixins";

.container {
  margin-bottom: $m_lg;
  background-color: var(--footer);
  .invite {
    @include center();
    padding-top: $m_lg;
    font-size: xx-large;
    font-weight: 600;
    color: var(--primary);
  }
  .features {
    margin: $m_xl $m_lg;
    display: flex;
    gap: $m_sm;
    height: fit-content;

    @include breakpoint(m-max) {
      flex-direction: column;
    }

    @include breakpoint(s-max) {
      margin: $m_lg $m_sm;
    }

    .feature {
      display: flex;
      @include breakpoint(m-max) {
        justify-content: space-between;
        position: relative;
      }

      img {
        width: $icon_width;
      }
      .seperator {
        margin-left: $m_sm;
        width: 1px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);

        @include breakpoint(m-max) {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          margin: 0;
        }
      }

      .title {
        font-size: x-large;
        position: relative;
        font-weight: 600;
        margin-bottom: $m_xs;
      }

      .description {
        @include breakpoint(m-max) {
          margin-bottom: $m_md;
        }
        @include breakpoint(s-max) {
          margin-bottom: $m_sm;
        }
      }
    }
  }

  .contact {
    @include center();
    flex-direction: column;
    @include breakpoint(s-max) {
      margin: 0 $m_sm;
    }

    .text {
      text-align: center;
    }

    .icons {
      @include center();
      gap: $m_md;
      margin-bottom: $m_sm;

      img {
        width: $icon_medium;
        height: $icon_medium;
      }
    }
  }
}
