@import "variables";
@import "mixins";

.home {
  .container {
    position: relative;
    display: flex;
    margin: $m_md;
    height: 3rem;
    justify-content: space-between;
    @include breakpoint(m-max) {
      margin: $m_sm;
    }

    .logo {
      width: $logo_width;

      @include breakpoint(m-max) {
        width: 7rem;
      }
    }

    .backWork {
      @include center();
      cursor: pointer;

      img {
        width: $icon_width;
        transform: rotateY(180deg);
        margin-right: $m_xs;
      }

      &:hover {
        div::before {
          @include actionBtnHover();
        }
      }

      div {
        position: relative;
        &::before {
          @include actionBtnBefore();
        }
      }
    }

    .hamWrapper {
      position: relative;
      width: 3rem;
      height: 3rem;
      display: none;

      @include breakpoint(m-max) {
        display: block;
      }
    }

    .hamBackground,
    .hamburger {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }

    .hamBackground {
      background-color: var(--btn_background);
      border-radius: 50%;
      z-index: 3;
      transition: all 0.7s ease;

      &[data-open="true"] {
        width: 220vw;
        height: 220vw;
        transition: all 0.7s ease;
      }
    }

    .hamburger {
      @include center();
      flex-direction: column;
      gap: $m_xxs;
      z-index: 4;
      cursor: pointer;
      .humItem {
        position: relative;
        width: 1.4rem;
        height: 2px;
        background-color: white;
        transform-origin: 50%;
        transition: transform 0.5s ease;
      }

      &[data-open="true"] {
        position: absolute;
        top: 3rem;
        right: 5%;

        .humItem:first-of-type {
          transform: rotate(45deg);
          transition: transform 0.5s ease;
        }

        .humItem:nth-of-type(2) {
          opacity: 0;
          transition: transform 0.5s ease;
        }

        .humItem:last-of-type {
          top: -1.2rem;
          transform: rotate(-45deg);
          transition: transform 0.5s ease;
        }
      }
    }
  }

  .menu {
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    z-index: 4;

    .openActions {
      color: white;
      font-size: x-large;
      font-family: 600;
      line-height: 4.5rem;
      text-align: center;
      margin-bottom: $m_xxl;

      @include breakpoint(s-max) {
        margin-bottom: $m_xl;
        line-height: 4rem;
      }

      div {
        cursor: pointer;
        letter-spacing: 0.15rem;
        opacity: 0;
      }
    }

    .icons {
      @include center();
      gap: $m_md;
      margin-bottom: $m_sm;

      img {
        width: $icon_medium;
        height: $icon_medium;
        opacity: 0;
      }
    }
  }

  .actions {
    display: flex;
    gap: $m_lg;
    @include center();

    @include breakpoint(m-max) {
      display: none;
    }

    div {
      cursor: default;
      position: relative;

      &:not(.request)::before {
        @include actionBtnBefore();
      }

      &:hover {
        &::before {
          @include actionBtnHover();
        }
      }
    }
  }

  .work {
    font-weight: 600;
  }

  .request {
    background: var(--btn_background);
    color: white;
    padding: $m_xs $m_sm;
    border-radius: 20% / 50%;
  }
}
