@import "variables";
@import "mixins";

.container {
  display: flex;
  margin: $m_md $m_lg;
  justify-content: space-between;
  .logo {
    width: $logo_width;
  }

  .backWork {
    @include center();
    cursor: pointer;

    img {
      width: $icon_width;
      transform: rotateY(180deg);
      margin-right: $m_xs;
    }

    &:hover {
      div::before {
        @include actionBtnHover();
      }
    }

    div {
      position: relative;
      &::before {
        @include actionBtnBefore();
      }
    }
  }

  .actions {
    display: flex;
    gap: $m_lg;
    @include center();

    div {
      cursor: default;
      position: relative;

      &:not(.request)::before {
        @include actionBtnBefore();
      }

      &:hover {
        &::before {
          @include actionBtnHover();
        }
      }
    }
  }

  .work {
    font-weight: 600;
  }

  .request {
    background: var(--btn_background);
    color: white;
    padding: $m_xs $m_sm;
    border-radius: 20% / 50%;
  }
}
